= form_tag(create_session_url, method: 'post') do
  %p
    = label_tag "Username"
    = text_field_tag :name
  %p
    = label_tag "Password"
    = password_field_tag :password
  %p
    = submit_tag "Sign In"