= form_for @entry, url: class_entries_path(class_id: @klass.id) do |f|
  = render "shared/errors", object: @entry
  = collection_select :entry, :horse_id, Horse.owned_by(current_user), :id, :name
  = f.submit "Enter Horse"