= form_for @horse, action: :update do |f|
  = f.text_field :name
  = f.number_field :year
  = f.text_field :color
  = f.text_field :breed
  = f.select(:gender, Horse.genders.keys)
  = f.submit "Update Horse"
end