= form_for @horse do |f|
  = render "shared/errors", object: @horse
  = f.text_field :name
  = f.number_field :year
  = f.text_field :color
  = f.text_field :breed
  = f.select(:gender, Horse.genders.keys)
  = f.select(:stable_id, @stables)
  = f.submit "Create Horse"
end