- unless object.errors.count == 0
  .errors
    %h4= "Unable to save #{object.class.to_s.downcase}."
    %p= "The following #{pluralize(object.errors.count, 'error')} prevented save:"
    %ul
    - object.errors.full_messages.each do |e|
      %li= e