- if object.owned_by?(current_user)
  - @name = object.class.method_defined?(:object) ? object.object.class.name : object.class.name
  %p= link_to("Delete #{@name.slice(0,1).upcase + @name.slice(1..-1).downcase}", show_url(@show), data: { method: :delete})
  %p= link_to("Edit #{@name.slice(0,1).upcase + @name.slice(1..-1).downcase}", edit_show_url(@show))