= form_for @user, url: {action: "create"} do |f|
  = render "shared/errors", object: @user
  = f.text_field :name
  = f.email_field :email
  = f.password_field :password
  = f.password_field :password_confirmation
  = f.submit "Sign Up"