= form_for @show do |f|
  = render "shared/errors", object: @show
  = f.text_field :name
  = f.text_field :description
  = collection_select :show, :stable_id, Stable.where(user_id: current_user.id), :id, :name
  = datetime_select :show, :held_at
  = select(:show, :deadline, [["24 Hours", 24.hours], ["12 Hours", 12.hours]])
  = select(:show, :generator, [["Standard", "standard"]])
  = f.submit(action_name == "new" || action_name == "create" ? "Create Show" : "Update Show")