%h1= @show.name

= render "shared/manage_links", object: @show

%p= link_to "Add Class", new_show_class_url(@show)

#klasses
  - @show.klasses.each do |klass|
    %p
      = link_to klass.name, class_url(klass)
      = " - #{klass.level} #{klass.discipline} (#{klass.spots} spots available)"
      - if @show.owned_by?(current_user)
        = link_to "Edit Class", edit_class_url(klass)
        = link_to "Delete Class", class_url(klass), method: :delete
        = link_to("Move Up", move_up_class_url(klass), method: :post)
        = link_to("Move Down", move_down_class_url(klass), method: :post)