%h2= @klass.name
%p= "#{@klass.level} #{@klass.discipline}"
%h3 Requirements
= link_to "Add Requirement", new_class_requirement_path(@klass)
- @klass.requirements.each do |r|
  %p= r.decorate.brief
  %p= link_to "Edit", edit_requirement_path(r)
  %p= link_to "Delete", requirement_path(r), method: :delete
%h3 Entries
- @klass.entries.each do |e|
  %p= e.horse.name
  - if e.horse.owned_by?(current_user)
    = link_to "Remove Entry", entry_path(e), method: :delete